[Unit]
Description=Create Overlay Directories
ConditionKernelCommandLine=ic.ovl
DefaultDependencies=no
Requires=remount-rootfs-ro.service
After=remount-rootfs-ro.service
Before=sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mkdir -p /run/overlay/upper /run/overlay/work
