[Unit]
Description=IronCore End Service

Before=initrd-switch-root.service
Wants=initrd-switch-root.target

OnFailure=emergency.target
OnFailureJobMode=isolate
DefaultDependencies=no

ConditionPathExists=/sysroot/ironcore.initrd.end

[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=yes
ExecStart=/bin/bash -Eeuo pipefail -c 'mv /sysroot/ironcore.initrd.end /run/initrd.end || cp /sysroot/ironcore.initrd.end /run/initrd.end; ./run/initrd.end; rm -f /run/initrd.end'
