[Unit]
Description=Remount Root Filesystem Read-Only
ConditionKernelCommandLine=ic.ovl
DefaultDependencies=no
Before=run-rootfs.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,ro /
