[Unit]
ConditionKernelCommandLine=ic.ovl
DefaultDependencies=no
Requires=create-overlay-dirs.service
After=create-overlay-dirs.service
Before=initrd-root-fs.target

[Mount]
What=overlay
Where=/sysroot
Type=overlay
Options=lowerdir=/,upperdir=/run/overlay/upper,workdir=/run/overlay/work
