[Unit]
Description=Prepare Sysroot for Switch-Root
ConditionKernelCommandLine=ic.ovl
DefaultDependencies=no
Requires=sysroot.mount
After=sysroot.mount
Before=initrd-root-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/rm -f /sysroot/etc/initrd-release
ExecStart=/bin/mkdir -p /sysroot/rootfs
