[Unit]
Description=Provision files from ignition config
After=ignition-fetch.service
Requires=ignition-fetch.service
Before=ignition-bootstrap.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/ignition/ignition-files.sh

[Install]
WantedBy=ignition-bootstrap.target
