[Unit]
After=network-online.target
Wants=network-online.target

[Service]
User=factorio
Group=factorio
ExecStart=/opt/factorio/bin/x64/factorio --start-server-load-latest \
    --server-settings /opt/factorio/server-settings.json \
    --server-adminlist /opt/factorio/server-adminlist.json
WorkingDirectory=/opt/factorio
Restart=on-failure

[Install]
WantedBy=multi-user.target
